body {
    background-image: url(/assets/images/backImg1.jpg);
    background-color: rgb(218, 212, 212);
  }
  .searchZone{
    width: 100%;
  }
  #citiesNames,
  #cityInfo,.cityForecast {
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
    border-radius: 4px;
    background-color: white;
    opacity: 0.85;
    padding: 1rem;
    
  }
  #cityInfo {
    margin-left: 2rem;
    padding: 2rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  .searchHistory {
      margin-bottom: 0.5rem;
      border: 1px solid black;
      border-radius: 4px;
      padding: 0.8rem;
      font-size: 1.5rem;
  }
  .pForForecast {
      font-size: 0.9rem;
  }
  .days {
      background-color: rgb(14, 36, 236);
      color: white;
      border-radius: 4px;
      text-align: center;
      margin-top: 0.5rem;
      padding: 1rem;
  }
  .cityName2 {
      margin-bottom: 2rem;
      text-decoration: underline;
  }
  .green{
      background-color: green;
      color: white;
      font-size: 1.2rem;
      border-radius: 4px;
  }
  .yellow {
      background-color: yellow;
      font-size: 1.2rem;
      border-radius: 4px;
  }
  .orange {
      background-color: orange;
      font-size: 1.2rem;
      border-radius: 4px;
      color: blue;
  }
  .red {
      background-color: red;
      font-size: 1.2rem;
      border-radius: 4px;
      color: blue;
  }
  #forecast {
      text-decoration: underline;
      font-size: 2.1rem;
  }
  .cityForecast {
      column-gap: 1rem;
      margin-top: 2rem;
  }
 
